<strong>Caro(a) {{ name }}.</strong>
<p>
  Seu pedido de auxílio sobre <strong>{{question}}</strong>.
  <br />
  Teve a seguinte resposta <strong>{{answer}}</strong>.
  <br />
  Esperamos ter sanado as suas dúvidas.
</p>
